{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<center>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <br>
        <br>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <br>
    <input type="submit" class="submit" value="Log in"/>
    <br>
    <br>
    <p>Don't have an account? <a href="{% url 'homepage:register' %}">Sign up!</a></p>
</form>
</center>

{% endblock %}
